.note {
  margin: 0 auto;
}

.notes-container {
  max-width: 85%;
  display: flex;
  flex-direction: column;
}

.note-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.note__pages {
  min-height: 100vh;
  width: 100%;
}

.note__title {
  width: 100%;
}

.readonly-wrapper {
  padding-top: 1px;
  width: 100%;
}

.save-button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}