.spinner {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  // margin-left: -50px;
}

.overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
