.all-pages-container {
  margin: 0px 30px;
  width: 100%;
  
  .service {
    display: flex;
    justify-content: space-between;

    span {
    font-size: 30px;
    }

    .r-group {
      .btn {
        opacity: .7;
      }
      display: flex;
    }
    .l-group {
      .btn {
        opacity: .4;
      }
    }
  }


}
