.home {
  box-sizing: border-box;
  color: rgba(68,68,68,1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    width: 100%;
    background-color: #394b59;
    height: 6vh;

    &-login {
      position: absolute;
      top: 1vh;
      right: 12vw;
    }

    &-logo {
      position: absolute;
      top: -1vh;
      left: 12vw;
    }
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
      font-size: 44px;
      line-height: 1.2em;
      font-weight: bold;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      letter-spacing: 0.02em;
    }

    &_subtitle {
      letter-spacing: 0.02em;
      font-size: 18px;
      font-family: 'Inter',sans-serif;
      line-height: 1.5em;
      margin: 0;
      padding: 0;
    }
  }

  &__footer {
    font-family: Roboto, sans-serif;
    color: #afafaf;
    height: 8vh;
    background-color: #394b59;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-createdBy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    &-avatars {
      padding-top: 5px;
      display: flex;
      &_link {
        display: flex;
      }
    }
    &-avatar {
      display: flex;
    }
  }
}

.block {
  padding: 7em 0 0;

  &__description {
    text-align: center;
    white-space: pre-wrap;
    padding: 8px;
    width: 550px;
  }
}

.registration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
