.header {
  display: flex;
  width: 350px;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  margin-right: 30px;

  &__button {
    padding: 0;
    margin: 0;
  }

  &__calendar {
    padding: 7px;
    border-radius: 100px;
    margin-left: 5px;
    &:hover {
      background-color: rgba(19, 19, 19, 0.1);
    }
  }

  &__favourite {
    padding: 7px;
    border-radius: 100px;
    &:hover {
      background-color: rgba(19, 19, 19, 0.1);
    }
  }

  &__more {
    padding: 7px;
    border-radius: 100px;
    &:hover {
      background-color: rgba(19, 19, 19, 0.1);
    }
  }
}
