.all-pages-container {
  margin: 0px 30px;
  width: 100%;

  .service {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 30px;
    }

    .r-group {
      .btn {
        color: #5c7080;
      }
      display: flex;
    }
    .l-group {
      .btn {
        color: #b1bcc4;
      }
    }
  }
}
