.graph-navigation {
  color: rgba(255, 255, 255, 0.5 );
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
  cursor: pointer;
}


